<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    {% block head %}
    {% endblock head %}
    <title> TDT4242 gruppe 5 </title>
</head>

<body>
    {#    navbar#}
    {#    adds the content of the subpage#}
    {% block content %}
    {% endblock content %}
</body>