{% extends "ecommerce/base.html" %}
{% block head %}
    <script type="text/javascript" src="/static/js/homePage.js"></script>>
    <link rel="stylesheet" type="text/css" href="/static/css/mainstyle.css">
    <script type="text/javascript" src="/static/js/registration.js"></script>
{% endblock %}


{% block content %}

    <button type="button" onclick="goToLoginPage()">Login</button>
    <button type="button" onclick="sendToAdminPanel()">Admin Panel</button>
    <button type="button" onclick="sendToCart()">Cart</button>
    <button type="button" onclick="sendToSearch()">Search Items</button>

    <h1>Online Store</h1>
    <body>
    {% include "ecommerce/item_list.html" %}
    <h3>New user?</h3>
        <input type="button" id="registerButton" value="Register here" class="ok-button" onclick="sendToRegistration()">
    </body>

{% endblock content %}