{% extends "ecommerce/base.html" %}
{% block head %}
    <script type="text/javascript" src="/static/js/homePage.js"></script>
{% endblock %}

{% block content %}


    <h1>This is the home page</h1>
    <body>
    <label for="homeSearch">Search for item: </label>
    <input id="homeSearch" type="text" name="homeSearch" placeholder="search">
    <input type="button" id="homeSearchButton" value="Search" onclick="activateSearch()">
    </body>
{#    {% include "ecommerce/search.html" %}#}
{#    {% include "ecommerce/item_list.html" %}#}

{% endblock content %}