{% block head %}
    <script type="text/javascript" src="/static/js/homePage.js"></script>>
    <link rel="stylesheet" type="text/css" href="/staticfiles/css/mainstyle.css">
    <script type="text/javascript" src="/static/js/registration.js"></script>
{% endblock %}


{% for item in items %}
    <table>
        <tr>
            <td col width="115">{{ item.name }}</td>
            <td col width="115">{{ item.price }} kr</td>
            <td col width="115">{{ item.description }}</td>

            {% if item.sale > 0 %}
                <td col width="115" ><b>Discount: </b> {{ item.sale }} %</td>
            {% endif %}

            {% if item.sale == 0 %}
                <td col width="115"><b>Discount: None </b></td>
            {% endif %}

            {% if item.package_deal > 1 %}
                <td col width="115">Get {{ item.package_deal }} For 1</td>
            {% endif %}

            {% if item.package_deal == 1%}
                <td col width="115">No package deal</td>
            {% endif %}

            <td col width="115">

            <button class="ok-button" onclick="addItemToCart({{ item.pk }})">
                Add to Cart</button>
            </td>
        </tr>

    </table>
{% endfor %}
