
{% extends 'ecommerce/base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/mainstyle.css">
    <script type="text/javascript" src="/static/js/registration.js"></script>
{% endblock %}

{% block content %}

    <div class="container">
        <h1>{{ title }}</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" onclick="notifyUserAboutCreatedAccount()"  class="ok-button" >
                Register</button>

        </form>
    </div>


{% endblock %}