{% block head %}
    <script type="text/javascript" src="/static/js/search.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mainstyle.css">

{% endblock %}

<div class="col-xs-6 col-md-4 col-center-block">
<p>
<button type="button" onclick="goToHomepage()" class="btn-primary ">Home</button>
</p>

<form method="get" action="">
    <label>Search</label>
    <input type="text" name="query" placeholder="search" value="{{ query }}">
    <input type="submit" value="search" class="btn-primary"  >

    <div>
        Price <br>
{#        <label>Minimum</label>#}
        <input type="number" name="price_min" min="0" placeholder="min" value="{{ price_min }}">
        <br>
{#        <label>Maximum</label>#}
        <input type="number" name="price_max" min="0" placeholder="max" value="{{ price_max }}">
    </div>

</form>

<p>
    {{ error }}
</p>

<p>
    {% include "ecommerce/item_list.html" %}
</p>
</div>