.ok-button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

#cart_table {
    display: flex;
    justify-content: space-around;
    border: #003366;
    padding: 1%;
}